@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html {
    font-size: 10px;
}
body, html {
    font-family: 'Times New Roman', Times, serif;
    height: 100%;
}

body{
    /* border: tan solid 1px; */
    width: 100%;
    margin: 8px;
    background: white;
    font-size: 1.6rem;
    padding: 0;
}
@media (min-width: 735px){
body {
    padding: 0 100px 0;}
}

.body_container {
        /* border: yellowgreen solid 2px; */
        display: flex;
        flex: wrap;
        margin: o auto;
        max-width: 40rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
}
@media (min-width: 480px){
.body_container {
    max-width: 60rem;
    padding: 1rem;}
}

.logo_bar {
    border: yellowgreen solid 1px;
    display: flex;
    flex-basis: 100%;
    /* flex-direction: column; */
    align-items: center;
    font-style: italic;
    width: 100%;
}
@media (min-width: 480px){
.logo_bar {
    flex-direction: row;
    justify-content: space-between;}
}
@media (min-width: 900px){
.logo_bar {
    /* border: green 2px dashed; */
    flex-basis: 20%;
    flex-direction: column;
    justify-content: flex-start;}
}

.logo {
    order: 1;
    padding: 0;
    margin: 0;
}
@media (min-width: 480px){
.logo {
    order: 0;}
}

.logo_img {
    width: 120px;
    height: 120px;
}
.ul_info_list {
    width: 100%;
}

.info_list {
    /* border: red solid 1px; */
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px rgba(78, 74, 74, 0.212) solid;
}
@media (min-width: 480px){
.info_list {
    max-width: 36rem;
    border-bottom: none;}
}
@media (min-width: 767px){
.info_list {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;}
}
@media (min-width: 990px){
.info_list {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 0;
    margin: 2rem 0;}
}

.info_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.4rem;
    font-size: 1.6rem;
    color: lightblue;
    text-shadow: 0.08rem 0.08rem #75FADD;}
@media (min-width: 480px){
.info_box {
    font-size: 2rem;}
}

.info_box i {
    display: none;
}
@media (min-width: 767px){
.info_box i {
    display: inline;}
}

.hero_part {
    /* border: cadetblue 1px dashed; */
    width: 100%;
}

.big_img {
    width: 100%;
}

.main_pic {
    width: 100%;
}

.second_nav {
    display: none;
}
@media (min-width: 767px){
.second_nav {
    display: flex;}
}