@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    margin: 0;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6 rem;
    display: block;
    padding: 0;
}
.main_body {
    width: 80%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
upper_div {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.container {
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.round_image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    border: 0;
}

.info_box {
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    margin: 10px;
}

.small_logo {
    width: 50px;
    height: 50px;
    margin: 5px;
    /* border-radius: 50%; */
    justify-content: center;
    align-items: center;
}
.info_line {
    font-size: 16;
    color: lightblue;
    font-style: italic;
    text-shadow: 1px 1px #75FADD;
    text-align:justify;

.fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      
      .fa:hover {
          opacity: 0.7;
      }
}

.fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
.hero_area {
    width: 80%;
    height: 300px;
    margin: 20px;
    border: 1px solid black;
}
