@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(reset.css);
@import url(normalize.css);
@import url(https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap);

html {
    border: 2px solid violet;
    font-size: 10px;
}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Mouse Memoirs', sans-serif;
}

a {
    text-decoration: none;
}

.wrapper {
    border: 2px dashed hotpink;
    margin: 0 auto;
    max-width: 40rem;
    display: flex;
    flex-wrap: wrap;
}

.logo_box {
    border: 1px solid burlywood;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    border: 1px dashed teal;
    order: 1;
}

.logo_image {
    border-radius: 50%;
}

.logo_nav_bar {
    border: 2px dashed darkorchid;
    display: flex;
    justify-content: space-between;
}